<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateWithIfTest" value="true" />
        <option name="userMacSet">
          <set>
            <option value="00-FF-13-B8-B2-9F" />
            <option value="00-FF-75-57-3F-4E" />
            <option value="00-FF-9C-3D-51-9E" />
            <option value="A45E07791780" />
            <option value="D2-7E-35-DD-09-29" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>